*,
*:before,
*:after { box-sizing: border-box; }

body {
    overflow-wrap: anywhere; // 공백 없이 긴 문자열 강제 줄바꿈
    word-break: keep-all; // CJK 문자열은 공백 기준으로 줄바꿈
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.a11y {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    font-size: 1px;
    line-height: 1;
    white-space: nowrap;
}
