$phone-max-width: 767px;
$tablet-min-width: 768px;
$tablet-max-width: 999px;
$desktop-min-width: 1000px;

@mixin phone-and-tablet {
    @media (max-width: $tablet-max-width) { @content; }
}
@mixin phone {
    @media (max-width: $phone-max-width) { @content; }
}
@mixin tablet-and-desktop {
    @media (min-width: $tablet-min-width) { @content; }
}
@mixin tablet {
    @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) { @content; }
}
@mixin desktop {
    @media (min-width: $desktop-min-width) { @content; }
}
